body{
    display: grid;
    border: 1px solid black;
    
    
  
}
.main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.side p{
    padding: 13px;
    width: 300px;
    border-radius: 10px;
    background-color: rgb(31, 29, 29);
    color: white;
    
}

.container{
    
    border: 1px solid black;
    display: grid;
    /* justify-content: center; */
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    /* margin-left: 50%; */
    /* height: auto; */
    
}
.item{
    
    padding: 10px;
   

}
#hello{
    grid-column-start: 1;
    grid-column-end: 4 ;
    justify-items: center;
    align-items: center;
    font-size: 80px;
    background-color: rgb(39, 37, 37);
    color: white;
}

@media screen and (max-width: 900px) {
    .container{
          
        border: 1px solid black;
       
        display: grid;
       
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,220px);
        /* margin-left: 50%; */
        
       
    }
    #hello{
        grid-column-start: 1;
        grid-column-end: 3 ;
        justify-items: center;
        align-items: center;
        font-size: 50px;
        background-color: rgb(58, 54, 54);
        color: white;
    }
    .item{
    
        padding: 10px;
       
    
    }

    
}
@media screen and (max-width: 450px) {
    .container{
    
        border: 1px solid black;
        display: grid;
        /* justify-content: center; */
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(7,120px);
        /* margin-left: 50%; */
        
       
    }
    #hello{
         grid-column-start: 1;
         grid-column-end: 2 ; 
        justify-items: center;
        align-items: center;
        font-size: 50px;
        background-color: rgb(58, 54, 54);
        color: white;
    }
    .item{
    
        padding: 10px;
       
    
    }

    
}